.snackbar-success {
  background-color: green;
  color: white;
}

.snackbar-error {
  background-color: red;
  color: white;
<<<<<<< HEAD
}


.success-message,
.error-message {
  margin-top: 16px;
  font-weight: bold;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
=======
}
>>>>>>> origin/master
