<title>Customer Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3s4Wz6iJgD/+ub2oU" crossorigin="anonymous">
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Customer Details</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Customer Name</th>
                    <th>Bank Account Number</th>
                    <th>IFSC Code</th>
                    <th>Mobile Number</th>
                    <th>Government ID</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>redhat</td>
                    <td class="hover-info" data-info="1234484149484">Hover</td>
                    <td>IFSC123</td>
                    <td>9876543210</td>
                    <td class="hover-info" data-info="GOVT123">Hover</td>
                </tr>
                <tr>
                    <td>jane</td>
                    <td class="hover-info" data-info="0987849444118">Hover</td>
                    <td>IFSC456</td>
                    <td>5432167890</td>
                    <td class="hover-info" data-info="GOVT212">Hover</td>
                </tr>
                <tr>
                    <td>test</td>
                    <td class="hover-info" data-info="4561795485545">Hover</td>
                    <td>IFSC789</td>
                    <td>3210987654</td>
                    <td class="hover-info" data-info="GOVT218">Hover</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>